.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#Contato{
    color:#4E966D;
}

.tela-principal{
    background-color:#156FA3;
}

.contatos-sabia{
    width: 100%;
}

.botao-enviar{
    background-color:#BAD968;
    width: 200px;
}