.formulario-teste{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.formulario-cont{
    width: 100%;
}

.tela-principal{
   background-color: #156FA3;;
}

#contato{
    color:#4E966D;
}
.botao-form{
    background-color:#BAD968;
    width: 200px;
}