.formulario-teste{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
}

.formulario-cont{
    width: 100%;
}

.tela-principal{
   background-color: #156FA3;
   margin-top: 15px;
}

#contato{
    color:#4E966D;
}
.botao-form{
    background-color:#BAD968;
    width: 200px;
}

.botao-cont{
    display: flex;
    align-self:flex-end;
}
.contato-titulo{
    display: flex;
    align-items: center;
}