#espaco {
    margin-top: 4%;

}

.imgCartao {
    width: 40%;
}

.tamanhoTexto {
    width: 40%;
}

.logoTamanho {
    width: auto;
}

.formulario {
    background-color: #1470A1;
}

#contatos {
    color: #9EC9A5;
    font-size: 35px;
}

::-webkit-input-placeholder {
    text-decoration-color: #8EB5CD;
}

.btnTamanho {
    width: 30%;
}

.tela1{
    background-image: url('../Imagens/imgsatcamp1.png');
    margin: 20px;
    padding-bottom: 14px;
}

.container-tela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagem-um{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imagem-um img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #ddd;
}

.titulo-cidade h1{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color:#BCA87E;
}



.paragrafo-saibamais{
    align-content: center;
}

.paragrafo-saibamais p{
    display: flex;
    align-items: center;
    text-align: justify;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.botao1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#saiba-mais{
    background-color:#BBDA65;
}






@media screen and (max-width: 600px) {
     .cartaoTamanho {
        width: auto;
    }

    .tamanhoTexto {
        width: 100%;
    }

    .imgCartao {
        width: 100%;
    }

    .textoImagem {
        text-decoration: none;
        font-size: 17px;
        font-style: italic;
    }

    .carouselAjustes {
        width: 100%;
        margin-top: 25%;
    }

    .btnTamanho {
        width: 100%;
    }
}
