@media screen and (max-width: 600px) {
    .mostrar {
        display: block;
        width: auto;
        
    }

    .esconder {
        display: none;
        
    }

    .logoTamanho {
        width: 80%;
    }
}

@media screen and (min-width: 600px) {
    .esconder {
        display: block;
        
    }

    .mostrar {
        display: none;        
    }
}