#espacamento{
    padding-top: 8%;   
    
}

.texto-diferente{
    color: #A78633;
}
.tamanho-letra{
    font-size: 46px;
}

@media screen and (max-width: 600px) {
    #espacamento{
        padding-top: 20%; 
               
    }
}

