.espaco{
  display: block;

  color:#B9D270;
}

.video-cidins{
  width: 50%;
}

.parag-informa{
  width: 50%;
  padding-top: 10px;
}
.imagemturismo{
  width: 500px;
  height: 500px;
  margin: 15px;
}

.hospeda{
  color:#B9D270;
  margin: 10px;
}

.container-hospedar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.inform{
  padding: 10px;
}

.imag-turis{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid yellow;
}

@media screen and (max-width:600px){
  .espaco{
    margin-top: 14%;

  }

   .video-cidins{
    width: auto;
  }
  .parag-informa{
    width: auto;
  }
}

@media screen and (min-width:600px){
  .espaco{
    margin-top: 4%;

  }
}