.espaco{
  padding-top: 8%;
  color:#B9D270;
}

.video-cidins{
  width: 50%;
}

.parag-informa{
  width: 50%;
  padding-top: 10px;
}
.imagemturismo{
  width: 500px;
  height: 500px;
}

.hospeda{
  color:#B9D270;
}

.container-hospedar{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inform{
  padding: 10px;
}

.imag-turis{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid yellow;
}

@media screen and (max-width:600px){
   #espaco{
     display: block;
     padding-top: 8%;
   }
   .video-cidins{
    width: auto;
  }
  .parag-informa{
    width: auto;
  }
}

@media screen and (min-width){
  #espaco{
    margin-top: 8%;
  }
  .video-cidins{
    width: auto;
  }
}