.formulario-contato{
    width: 50%;
    margin: 10px 0px 0px 250px   
}

#contatos{
    color:#9EC9A5;
    font-size: 35px;
}

::-webkit-input-placeholder{
    text-decoration-color:#8EB5CD;
}
.container-desenho{
    margin-top: 10px;
    background-color:#1470A1;
    width: 100%;
    padding: 20px;
}

.botao{
    background-color:#BAD968;
    width: 250px;
    height: 50px;
    font-size: x-large;
}

